body{
	height:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
#body{
	background-color:#cccccc;
	height:100px;
	width:100%;
	margin:0px;
	padding-top:20px;
}

#title{
	background-color:#cccccc;
	margin-top:0px;
	text-align:center;
	color:#FD5C01;
}